@model MarketViewModel
<h3 class="alert alert-warning">Edit @Model.EnglishName Market</h3>
<form asp-action="Edit" id="form" data-id="@(Model?.Id ?? 0)" enctype="multipart/form-data">
    <partial name="_CreateEditDeleteMarket" />
    <input hidden asp-for="ImageName" />
    <br />
    <div class="col-auto">
        <label asp-for="Image" class="col-form-label"></label>
    </div>
    <div class="col-auto">
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
